<article class="overflow-hidden rounded-lg shadow grid grid-cols-3">
    <div>
        <a href="{{ book.previewLink }}">
            <img alt="Book image" class="block w-50 h-60" src="{{ book.imageSource }}">
        </a>
    </div>
    <div>
        <header class="flex flex-col flex-nowrap items-start leading-tight p-2">
                <a class="no-underline hover:underline text-black" href="{{ book.previewLink }}">
                    <h1 class="text-lg align-middle">
                        {{ book.title }}
                    </h1>
                </a>
                <p class="text-sm py-2">
                    Author: {{ book.author }}
                </p>
        </header>
    </div>
    <div>
        <footer class="leading-tight p-4">
            <button *ngIf="!book.inCollection; else removeBook " class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" (click)="addDialog($event,book)">Add book</button>
            <ng-template #removeBook>
                <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded" (click)="removeDialog($event,book)">Remove book</button>
            </ng-template>
        </footer>
    </div>
</article>    
